.news-details {
  margin: 20px auto;
}
.news-details h3 {
  text-align: center;
}
.news-details .header-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.news-details .details {
  text-indent: 20px;
  text-align: justify;
}
.news-details label {
  display: block;
  font-weight: bold;
}
.news-details textarea {
  width: 100%;
}
.news-comment .content-comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
